{{- $credit := "" -}}
{{- $src := "" -}}

{{- if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end -}}

{{ $figure_list:= .Site.Data.figures.figure_list }}
{{ $title:= .Title }}

{{- with .Params.image -}}
  {{ if isset . "id" }}
    {{ $x := .Get "id" | string }}
    {{- range where $figure_list "id" "eq" $x -}}
      {{- if .credit }}
        {{ $credit = .credit }}
      {{- end -}}

      {{- with .src }}{{ $src = . }}{{ end -}}
    {{- end -}}
  {{ else }}
    {{ $src = . }}
  {{ end }}
  {{- $imgPath := printf "%s/%s" ($.Scratch.Get "imageDir") $src -}}
    <section class="{{ if or (eq $title "title page") (eq $title "half title page") }} is-screen-only {{ end }} quire-page__header hero__image" style="background-image: url('{{ $imgPath | absURL }}');">
      {{ if $credit }}
        <span class="hero-credit">{{ $credit }}</span>
      {{ end }}
    </section>
{{- end -}}

<section class="{{ if or (eq .Title "title page") (eq .Title "half title page") }} is-screen-only {{ end }} quire-page__header hero">
  <div class="hero-body">
    {{/* Page Title */}}
    <h1 class="quire-page__header__title" id="{{ .Title | urlize }}">
      {{- with .Params.label }}<span class="label">{{ . }}<span class="visually-hidden">{{ $.Site.Params.pageLabelDivider }}</span></span>{{ end -}}
      {{- partial "page-title.html" . | markdownify -}}
    </h1>
    {{/* Contributors, if any */}}
    {{ partial "page-contributor.html" . }}  
  </div>
</section>