{{/*

  This shortcode generates a list of all the objects in the project's
  `objects.yml` file.

*/}}


{{ if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end }}

{{ $zoom :=  true  }}
{{ $pdf :=  $.Site.Params.pdf }}

{{- range $.Site.Data.objects.object_list -}}


    {{/* 
    id: 2021-196
    title: Sake Decanter (tokkuri)
    artist: 'Ōtagaki Rengetsu <span lang="ja">太田垣蓮月</span>, 1791–1875'
    year: 1800s
    medium: Glazed ceramic
    dimensions: 5½ × 6 in. (14 × 15.2 cm)
    accession: 2021.196
    credit: Gift of Drs. John Fong and Colin Johnstone.
    section: Introduction
    location:
    link:
    figure:
        id: 
    */}}

    {{- $id := "" -}}
    {{- $title := "" -}}
    {{- $artist := "" -}}
    {{- $year := "" -}}
    {{- $medium := "" -}}
    {{- $dimensions := "" -}}
    {{- $accession := "" -}}
    {{- $credit := "" -}}
    {{- $section := "" -}}
    {{- $location := "" -}}
    {{- $link := "" -}}
    {{- $figure := "" -}}

    {{/*
    ----------------------------------------------------------------------------
    Get attributes from objects.yml
    ----------------------------------------------------------------------------
    */}}

    {{- if ($.Get "title") }}
    {{ $title = ($.Get "title") }}{{ else if .title }}{{ $title = .title }}{{ end -}}

    {{- if ($.Get "artist") }}
    {{ $artist = ($.Get "artist") }}{{ else if .artist }}{{ $artist = .artist }}{{ end -}}

    {{- if ($.Get "year") }}
    {{ $year = ($.Get "year") }}{{ else if .year }}{{ $year = .year }}{{ end -}}

    {{- if ($.Get "medium") }}
    {{ $medium = ($.Get "medium") }}{{ else if .medium }}{{ $medium = .medium }}{{ end -}}

    {{- if ($.Get "dimensions") }}
    {{ $dimensions = ($.Get "dimensions") }}{{ else if .dimensions }}{{ $dimensions = .dimensions }}{{ end -}}

    {{- if ($.Get "accession") }}
    {{ $accession = ($.Get "accession") }}{{ else if .accession }}{{ $accession = .accession }}{{ end -}}

    {{- if ($.Get "credit") }}
    {{ $credit = ($.Get "credit") }}{{ else if .credit }}{{ $credit = .credit }}{{ end -}}

    {{- if ($.Get "section") }}
    {{ $section = ($.Get "section") }}{{ else if .section }}{{ $section = .section }}{{ end -}}

    {{- if ($.Get "location") }}
    {{ $location = ($.Get "location") }}{{ else if .location }}{{ $location = .location }}{{ end -}}

    {{- if ($.Get "link") }}
    {{ $link = ($.Get "link") }}{{ else if .link }}{{ $link = .link }}{{ end -}}

    {{- if ($.Get "figure") }}
    {{ $figure = ($.Get "figure") }}{{ else if .figure }}{{ $figure = .figure }}{{ end -}}


    {{- $dict := dict "Site" $.Site "title" $title "artist" $artist "year" $year "medium" $medium "dimensions" $dimensions "accession" $accession "credit" $credit "section" $section "id" $id "location" $location "link" $link "figure" $figure -}}

    {{- $figSort := "" -}}
    {{ if .title }}
    {{- $figSort = .title -}}
    {{ else }}
    {{- $figSort = .id -}}
    {{ end }}
    {{- $figSort = $figSort | truncate 400 | urlize -}}


    {{- $.Page.Scratch.SetInMap "ref" "0" $dict -}}
    {{- $ref := ($.Page.Scratch.GetSortedMapValues "ref") -}}
    {{- $.Page.Scratch.SetInMap "object" $figSort $ref -}}
    {{- $.Page.Scratch.Delete "ref" -}}

    

{{- end -}}

{{- if ($.Page.Scratch.GetSortedMapValues "object") }}

{{ $sections := slice "Preamble" "Introduction" "Inner Chambers" "Daughters of the Atelier" "Taking the Tonsure" "Floating World" "Literati Circles" "Unstoppable (No Barriers)" }}

<div class="quire-page__content__objects">
  {{ range $sections }}
    {{ $.Scratch.Set "section" . }}
    <h3>{{ $.Scratch.Get "section" }}</h3>
    {{- range ($.Page.Scratch.GetSortedMapValues "object") -}}
        {{ $dict := (index . 0) }}
        {{ with $dict }}
          {{- if .section "eq" $.Scratch.Get "section" -}}
            <div class="quire-page__content__object">
                <div class="details">
                    <div class="object-artist">{{  (delimit (split .artist ",") "<br/>") | markdownify }}</div>
                    <div class="object-title"><strong>{{- .title | markdownify  -}}</strong></div>
                    <div class="object-year">{{- .year -}}</div>
                    <div class="object-medium">{{- .medium | markdownify  -}}</div>
                    <div class="object-dimensions">{{- .dimensions -}}</div>
                    <div class="object-accession">{{- .accession -}}</div>
                </div>
                <div class="image">
                {{ if .figure }}
                {{ range .figure }}
                    {{ if .id }}
                    {{ range where $.Site.Data.figures.figure_list "id" "eq" .id }}
                        {{ template "figure" (dict "map" . "site" $ "pdf" $pdf "zoom" $zoom "imageDir" ($.Scratch.Get "imageDir") "figure" .  ) }}
                    {{ end }}
                    {{ else if .src }}
                        {{ template "figure" (dict "map" . "site" $ "pdf" $pdf "zoom" $zoom "imageDir" ($.Scratch.Get "imageDir") "figure" .  ) }}
                    {{ end }}
                {{ end }}
                {{ end }}
                </div>
            </div>
          {{- end -}}
        {{ end }}
    {{- end -}}
  {{ end }}
</div>

{{- end -}}




{{ define "figure" }}

{{- $imgPath := printf "%s/%s" .imageDir .figure.src -}}

<figure
data="q-figure"
class="quire-figure"
id="{{ .map.id }}"
>
<div class="q-figure__wrapper">
    {{ if eq .map.mediaType "youtube" -}}
    {{- partial "figures/media-types/youtube.html" .map -}}
    {{- else if eq .map.mediaType "vimeo" -}}
    {{- partial "figures/media-types/vimeo.html" .map -}}
    {{- else if eq .map.mediaType "soundcloud" -}}
    {{- partial "figures/media-types/soundcloud.html" .map -}}
    {{- else if eq .map.mediaType "website" -}}
    {{- partial "figures/media-types/website.html" .map -}}
    {{- else if eq .map.mediaType "table" -}}
    {{- partial "figures/media-types/table.html" .map -}}
    {{- else -}}
    {{- partial "figures/media-types/image.html" .map -}}
    {{- end -}}
</div>
</figure>

{{ end }}

{{- define "details" -}}
  {{ if or .figureData.figure.caption .figureData.figure.credit }}
      <div class="quire-image-control quire-image-info">
        <span class="quire-image-info__wrap">
          {{ with .figureData.figure.caption }}<span class="quire-image-info__caption">{{ . | markdownify }}</span>{{ end }}
          {{ with .figureData.figure.credit }}<span class="quire-image-info__credit">{{ .| markdownify }}</span>{{ end }}
        </span>
      </div>
  {{ end }}
  <div class="quire-image-counter-download-container wtf">
    {{ if eq .figureData.figure.download true }}
    <a href="{{ .imgPath | relURL }}" target="_blank" class="remove-from-epub quire-image-control quire-image-control--download" title="Download image" download>
      {{- partial "icon.html" (dict "type" "download" "description" "Download image") -}}
    </a>
    {{ end }}
  </div>
{{- end -}}